/* *****************************************
* Variables
* *****************************************/




/* *****************************************
* Generics
* *****************************************/




/* *****************************************
! Debug
* *****************************************/
.db.border {
    border: 2px dashed #000;
}

.db-h-1x {
    min-height: 50px;
}

.db-h-2x {
    min-height: 400px;
}


/* **********************************************************************************
? ELEMENTS
* ***********************************************************************************/





/* **********************************************************************************
? RESPONSIVE
* ***********************************************************************************/
